* {
	font-family: 'Lato';
}

.text-center img {
	display: inline-block;
}

header .mainmenu {
	float: right;
	/* padding-top: 10px; */
}

header {
	padding: 0px;
}

.price-details-box h3 {
	font-family: 'Myriad Pro Semibold';
	background-color: #e2242a;
	padding: 10px 10px;
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
}

.price-details-box {
	border: 1px solid #e21e24;
}

.price-details-box p {
	font-family: 'Myriad Pro Semibold';
	color: #2e2e2e;
}

.price-details-box p span {
	font-family: 'Myriad Pro Semibold';
	background-color: #e2242a;
	border-radius: 2px;
	padding: 4px 8px;
}

ul {
	padding-left: 0px;
}

header .mainmenu ul li a {
	font-family: 'ProximaNova-Regular';
	text-decoration: none;
	font-size: 16px;
	color: #000;
}
.full-bg-marin {
	background-repeat: no-repeat;
	padding: 220px 50px;
	background-image: url("img/others/mantras-img.png");
	background-size: 100%;
}
.fine-right-mains p{
	font-family: 'ProximaNova-Regular';
}
.full-bg-marin h2{
	font-family: 'Emerland';
	font-size: 50px;
	text-align: center;
	
}
.full-bg-marin h2 span{
	display:block;
	font-family: 'Emerland';
	font-size: 50px;
}
header .mainmenu ul li {
	padding: 0px 17px;
}

header .mainmenu ul li:last-child {
	padding-right: 0px !important;
}

/*************SUB MENU*************/
.mainmenu .sub-menu {
	list-style: outside none none;
	min-width: 250px;
	padding: 0;
	position: absolute;
	z-index: 1000;
	display: none;
}

.mainmenu li:last-child:hover .sub-menu {
	right: 0;
}

.mainmenu li:hover .sub-menu {
	display: block;
}

.mainmenu .sub-menu li {
	padding: 0px !important;
}

.mainmenu .sub-menu li a {
	background-color: #fff;
	display: block;
	padding: 10px 15px !important;
	text-align: left;
	color: #000 !important;
	text-decoration: none;
	transition: all 1s ease-in-out 0s;
}

.mainmenu .sub-menu li a:hover {
	background: #fff !important;
	padding-left: 25px;
	color: #000 !important;
}

.col-md-5ths {
	width: 20%;
	float: left;
}

.icon-bar {
	background-color: #f40101 !important;
	border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
}

/*******MAIN MENU*********/
header .mainmenu .navbar {
	margin: 0px;
	padding: 0px;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	margin: 0px;
}

.owl-theme .owl-nav {
	margin-top: 0;
}

/* .about-section {
	padding: 50px 0px;
} */
header .mainmenu .navbar-nav a.active,
header .mainmenu .navbar-nav a:focus,
header .mainmenu .navbar-nav a:hover {
	background: none;
	color: #e21e24;
}

header .header-bottom {
	position: relative;
	padding-top: 80px;
}

header .header-bottom .banner-contents {
	position: absolute;
	left: 0;
	right: 0;
	top: 35%;
	width: 100%;
}

header .banner-contents h3 {
	font-size: 56px;
	color: #7e7bea;
	font-weight: 700;
	line-height: 1;
}

.banner-contents p {
	font-size: 21px;
	color: #5c4949;
	line-height: 1.7;
	padding-top: 20px;
}

.banner-contents a {
	text-decoration: none;
	font-size: 24px;
	color: #fff;
	border-radius: 50px;
	border: 2px solid #e7b6d7;
	background-color: #e7b6d7;
	padding: 10px 30px;
}

/*********** CAROUSEL NAV***********/
header .header-bottom .owl-prev {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/banner-left-arrow.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin: 0px !important;
	display: inline-block;
	height: 64px;
	left: 5%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 33px;
	outline: none !important;
}

header .header-bottom .owl-next {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/banner-right-arrow.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin: 0px !important;
	display: inline-block;
	height: 64px;
	right: 5%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 33px;
	outline: none !important;
}

/*********** CAROUSEL NAV***********/
.owl-carousel-gallery .owl-prev {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/gallery-left.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin: 0px !important;
	display: inline-block;
	height: 32px;
	left: -3%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 32px;
	outline: none !important;
}

.owl-carousel-gallery .owl-next {
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: url("img/icons/gallery-right.png") !important;
	background-repeat: no-repeat !important;
	background-position: 0 0;
	margin: 0px !important;
	display: inline-block;
	height: 32px;
	right: -3%;
	position: absolute;
	text-indent: -99999px;
	top: 45%;
	width: 32px;
	outline: none !important;
}

/* .owl-carousel-gallery img {
	transition: transform .3s;
}
.owl-carousel-gallery img:hover {
	transform: scale(1.3);
} */
/**********CAROUSEL DOTS***************/
header .header-bottom .owl-theme .owl-controls {
	margin-top: 0;
}

.consulting-details h3 {
	font-family: 'Myriad Pro Bold';
	color: #2e2e2e;
	font-weight: 500;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.consulting-details a {
	text-decoration: none;
	background-color: #e21e24;
	border-radius: 50px;
	padding: 12px 30px;
	font-family: 'Myriad Pro Bold';
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	transition: all .3s ease;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	border: 2px solid #fff;
}

header .header-bottom .owl-dots {
	bottom: 5%;
	left: 0;
	position: absolute;
	right: 0;
}

.consulting-section {
	text-align: center;
	padding: 40px 0px;
}

.consulting-details {
	width: 100%;
}

header .header-bottom .owl-theme .owl-dots .owl-dot span {
	background-color: #fff;
}

header .header-bottom .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #e21e24;
}

#mainform {
	padding: 70px 22px;
}

.form_box h4 {
	font-family: 'Myriad Pro Bold';
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 10px;
	float: left;
	margin-top: 3px;
	color: #fff;
	margin-bottom: 25px;
}

.banner-shape {
	position: absolute;
	right: 6%;
	top: 20%;
	z-index: 9;
	width: 23%;
	background: rgb(157, 158, 116);
	border-radius: 50px 0px;
	border: 2px solid #fff;
}

.form-btn input {
	background-color: #003628;
	padding: 15px 60px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	width: 100%;
	font-family: 'Myriad Pro Regular';
	font-weight: 500;
	font-size: 20px;
	border: 1px solid #fff;
}

.contact-form .form-control::-webkit-input-placeholder {
	color: #fcfcfc;
	opacity: 1;
}

.contact-form .form-control::-moz-placeholder {
	color: #fcfcfc;
	opacity: 1;
}

.contact-form .form-control::-ms-input-placeholder {
	color: #fcfcfc;
	opacity: 1;
}

.contact-form .form-control::placeholder {
	color: #fcfcfc;
	opacity: 1;
}

.form-control {
	padding: 15px 10px;
}

.contact-form a {
	text-decoration: none;
	font-size: 22px;
	color: #fff;
	font-weight: 700;
	border-radius: 2px;
	text-transform: uppercase;
	background-color: #e5accc;
	padding: 7px 40px;

}

.footer-wrap h3 {
	font-size: 37px;
	color: #7d7bea;
	margin-bottom: 25px;
}

.footer-wrap ul li a {
	text-decoration: none;
	font-size: 18px;
	color: #696969;
}

.footer-wrap ul li {
	padding-bottom: 5px;
}

.footer-contact ul li {
	background-repeat: no-repeat;
	padding-left: 35px;
	background-position: left 7px;
	padding-bottom: 10px;
}

.footer-contact ul li.location {
	background-image: url(img/others/cont-1.png);
}

.footer-contact ul li.phone {
	background-image: url(img/others/cont-2.png);
}

.footer-contact ul li.mail {
	background-image: url(img/others/cont-3.png);
}

.social-icons ul li a i {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding-top: 10px;
	text-align: center;
	background-color: #e5accc;
}

.social-icons ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

.social-icons ul li {
	padding-right: 8px;
}

.copyrights p {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	margin-bottom: 0px;
}

.various1 {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	font-size: 18px;
	color: #fff !important;
}

.copyrights {
	background-color: #001d0d;
	padding: 20px 0px;
}

.header-top {
	padding: 10px 0px;
	background-color: #d0d4b9;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.overview-wrap {
	text-align: center;
}

.about-main-text h3 {
	font-family: 'Myriad Pro Bold';
	font-weight: 700;
	font-size: 30px;
	color: #2e2e2e;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.about-main-text h3 span {
	color: #e21e24;
	font-family: 'Myriad Pro Bold';
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.overview-wrap h2 {
	font-family: 'Myriad Pro Bold';
	font-weight: 700;
	font-size: 30px;
	color: #2e2e2e;
	text-transform: uppercase;

}

.about-section {
	background-image: url("img/icons/about-bg.jpeg");
}

.overview-btn a {
	font-family: 'Myriad Pro Regular';
	font-weight: 500;
	background-color: #e21e24;
	padding: 15px 20px;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
}

html {
	scroll-behavior: smooth;
}



.overview-list ul li {
	display: inline-block;
	width: 33%;
}

.overview-view-txt p {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	font-size: 17px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #454545;
}

.about-highli-text h4 {

	font-weight: 500;
	font-size: 19px;
	color: #e21e24;
}

.about-section p {
	font-family: 'ProximaNova-Bold';
	font-weight: 400;
	font-size: 17px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #454545;
}

.about-highli-text p {
	font-weight: 400;
	font-size: 17px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #454545;
}

.fine-list-inner ul li {
	font-family: 'ProximaNova-Bold';
	font-size: 18px;
}

.fine-list-inner ul li span {
	font-family: 'ProximaNova-Regular';
	font-size: 18px;
}

.inner-flowe-text h2 {
	font-family: 'Emerland';
	font-size: 45px;
	color: #2e2e2e;
	margin-bottom: 30px;
}

.inner-flowe-text p {
	font-family: 'ProximaNova-Bold';
	font-size: 18px;
}

.inner-flowe-text {
	padding-top: 100px;
	padding-left: 45px;
}

.inner-flowe-text h2 span {
	display: block;
	font-family: 'Emerland';
	color: #2e2e2e;
	margin-bottom: 30px;
}

.fine-right-main p {}

.inner-flowe-text h2 {
	display: block;
	font-family: 'Emerland';
	color: #2e2e2e;
	margin-bottom: 30px;
}

.overview-btn h4 {
	font-weight: 500;
	color: #2e2e2e;
	font-size: 25px;
}

.over-border {
	border: 2px solid #fff;
	min-height: 300px;
}

.over-view-box {
	background-image: url("img/icons/over-view-bg.png");
	box-shadow: 0px 0px 4px 1px #fc7878;
	border-radius: 5px;
	padding: 10px;
	min-height: 300px;
	transition: all .3s ease;
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

.over-border {
	padding: 20px;
}

.overview-list {
	margin-top: 50px;
}

.over-view-box:hover .over-border {
	border: 2px solid #e21e24;
}

.over-border img {
	background-color: #fff;
	border-radius: 50%;
	height: 100px;
	text-align: center;
	width: 100px;
	padding: 9px;
	border: 2px solid #e21e24;
}

.over-border p {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	font-size: 17px;
	margin-bottom: 20px;
	margin-top: 15px;
	color: #fff;
}

.main-left {
	position: absolute;
	top: 5%;
	left: 5%;
	z-index: 99;
	width: 20%;
}

.main-bottom {
	position: absolute;
	top: 65%;
	left: 5%;
	z-index: 99;
	width: 20%;
}

.skndha-main-img img {
	width: 60%;
}

.main-top {
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 99;
	width: 20%;
}

/* .main-bottom-right {
	position: absolute;
  top: 65%;
  ri: 5%;
  z-index: 99;
  width: 20%;
  } */

.main-bottom-right {
	position: absolute;
	top: 65%;
	right: 5%;
	z-index: 99;
	width: 20%;
}

.overview-section h3 {
	font-family: 'Emerland';
	font-size: 45px;
	text-align: left;
}

.overview-section .main-top h3 {
	text-align: right;
}

.overview-section .main-bottom-right h3 {
	text-align: right;
}

.overview-btn h3 {
	font-family: 'Emerland';
	color: #fff;
	font-size: 45px;
	padding-top: 25px;
	text-transform: uppercase;
	text-align: left;
}

.overview-list ul h3 {
	font-family: 'Myriad Pro Semibold';
	font-weight: 500;
	font-size: 28px;
	color: #454545;
	margin-top: 10px;
}

.overview-list ul p {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	font-size: 23px;
	color: #424242;
	margin-bottom: 0px;
}

.amenities-center {
	text-align: center;
}

.gallery-sction {
	padding: 30px 0px;
}

.amenitine-center {
	text-align: center;
}

.gallery-wrap {
	text-align: center;
	margin-bottom: 60px;
}

.gallery-wrap p {
	font-family: 'Myriad Pro Regular';
	color: #2e2e2e;
	font-weight: 400;
	font-size: 22px;
}

.amenities-heading h2 {
	margin-top: 30px;
	font-family: 'Myriad Pro Bold';
	color: #fff;
	font-weight: 500;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.floor-list ul li {
	list-style: none;
}

.gallery-wrap h2 {
	font-family: 'Myriad Pro Bold';
	color: #2e2e2e;
	font-weight: 500;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.advantage-headding h2 {
	font-family: 'Myriad Pro Regular';
	color: #2e2e2e;
	font-weight: 500;
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
}

.floor-heading h2 {
	font-family: 'Myriad Pro Regular';
	color: #2e2e2e;
	font-weight: 500;
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}

.amenities-wrap {
	text-align: center;
}

.amenities-icon-wrap {
	padding: 20px 0px;
}

.amenitine-center p {
	font-family: 'Myriad Pro Regular';
	color: #fff;
	font-weight: 400;
	margin-top: 10px;
	font-size: 17px;
}

.header-btn a {
	text-decoration: none;
	background-color: #001d0d;
	border-radius: 50px;
	padding: 12px 30px;
	font-family: 'Myriad Pro Bold';
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	/* transition: all .3s ease; */
	transition-duration: 1s;
	-webkit-transition-duration: 1s;
	border: 2px solid #fff;
}

.header-btn a:hover {
	background-color: #fff;
	border: 2px solid #e21e24;
	color: #e21e24;
}

.header-phone a {
	color: #252525;
	font-family: 'Myriad Pro Regular';
	font-size: 22px;
	font-weight: 500;
}

.header-btn {
	text-align: right;
}

.header-phone img {
	padding-right: 5px;
}

.location-logo {
	background-color: #f3f1f1;
	padding: 20px;
	text-align: center;
	min-height: 390px;
	padding-top: 100px;
}

.location-logo span {
	display: block;
}

.location-logo p {
	font-family: 'Myriad Pro Regular';
	color: #2e2e2e;
	font-weight: 400;
	font-size: 17px;
	padding: 0px 0px;
	margin: 0px;
}

.location-logo h3 {
	font-family: 'Myriad Pro Bold';
	color: #2e2e2e;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px 0px;
	margin: 0px;
}

.location-map iframe {
	height: 380px;
}

.amenities-section {
	/* padding: 40px 0px; */
	/* background-color:#f2e4ed ; */
	/* background-image: url("img/others/service-bg.jpg"); */
}

.amenitine-center {
	padding: 12px 10px;
}

.amenitine-center img {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.amenitine-center img:hover {
	rotate: 360deg;

}

.fade {
	opacity: 1;
}

.heading-list {
	font-family: 'Myriad Pro Regular';
	color: #e21e24 !important;
	font-weight: 400;
	font-size: 22px;
}

.floor-list-txt td {
	font-family: 'Myriad Pro Regular';
	color: #2e2e2e;
	font-weight: 400;
	font-size: 20px;
	border: 0px solid #fff !important;
}

.floor-details-inner {
	padding: 100px 30px;
}

.floor-tab ul li {
	width: 50%;
	text-align: center;
	padding: 20px;
}

.floor-tab {
	width: 50%;
	margin: auto;
}

.floor-tab .nav-tabs .nav-link {
	color: #000;
}

.floor-tab .nav-tabs .nav-link.active,
.floor-tab .nav-tabs .nav-item.show .nav-link,
.floor-tab .nav-tabs .nav-link:hover {
	color: #e21e24;
	background-color: transparent;
	border-color: transparent;
	border-bottom-color: transparent;
}

.floor-tab .nav-link.active,
.floor-tabfloor-tab .nav-link {
	position: relative;
	color: #000;
}

.floor-tab .nav-link.active::after,
.floor-tabfloor-tab .nav-link:hover::after {
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	bottom: -50%;
	border-bottom: 5px solid #e21e24;
	/* border-left: 5px solid transparent; */
	/* border-right: 5px solid transparent; */
	width: 75px;
	margin: auto;
}

.floor-section {
	padding: 70px 0px;
	background-color: #f2e4ed;
}

.floor-tab .nav-tabs {
	border-bottom: 1px solid #000;
}

.advantage-section {
	padding: 50px 0px;
}

.advantage-btn-list ul li {
	display: block;
	width: 100%;
}

.advantage-btn-list .nav-tabs .nav-link.active,
.advantage-btn-list .nav-tabs .nav-item.show .nav-link {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
	border: 1px solid #000;
}

.advantage-btn-list .nav-tabs {
	border-bottom: 1px solid transparent;
}

.advantage-btn-list .nav-link {
	background: -moz-element;
	background-color: #e21e24;
	color: #fff;
	margin-bottom: 35px;
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	font-size: 20px;
	border-radius: 50px;
}

.advantage-btn-list {
	text-align: center;
}

.advantage ul {
	margin-left: 0px
}

.advantage ul li {
	display: flex;
	margin-bottom: 10px;
}

.advantage ul li span {
	width: 190px;
}

.advantage {
	background-color: #f2e4ed;
	padding: 30px 20px;
	border-radius: 10px;
}

.floor-details-inner img {
	width: 100%;
}

.specification-header h2 {
	font-family: 'Myriad Pro Bold';
	font-weight: 500;
	font-size: 30px;
	color: #2e2e2e;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.price-details-box span {
	font-size: 15px;
	color: #fff;
	padding: 5px;
}

.specification-header p {
	font-family: 'Myriad Pro Semibold';
	font-size: 20px;
	color: #2e2e2e;
}

.price-details-box p {
	padding: 15px 10px;
}

.specification-section {
	background-color: #f3f3f3;
	padding: 50px 0px;
}

.specification-header {
	text-align: center;
}

.specification-text {
	background-color: #fff;

}

.specification-inner-txt {
	padding: 30px;
}

.specification-inner-txt p {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	color: #2e2e2e;
	font-size: 20px;
}

.specification-btn ul li a {
	background-color: #e21e24;
	color: #fff;
	font-size: 17px;
	text-align: center;
}

.specification-btn ul li {
	width: 25%;
	margin: 5px;
}

.specification-btn ul {
	margin-bottom: 20px;
}

.specification-inner-txt span {
	font-family: 'Myriad Pro Regular';
	font-weight: 400;
	color: #2e2e2e;
	font-size: 20px;
}

.main-about-list ul li {
	display: inline-block;
	padding-right: 35px;
	border-right: 2px solid #000;
	padding-left: 7px;
}

.main-about-list li:last-child {
	border-right: none;
}

.main-about-list ul li span {
	display: block;
	font-weight: bold;
}

.skndha-main-img {
	position: relative;
}

.overview-section {
	background-image: url("img/others/life-bg.jpg");
	background-size: 100% 100%;
	padding: 100px 0px;
	/* position: relative; */
}

.border-round {
	border-radius: 0px 50px 0px;
	background-color: #fff;
	padding: 40px 15px;
	min-height: 180px;
}

.mainleft-content p {
	font-family: 'ProximaNova-Regular';
}

.about-main-wings {
	background-image: url("img/others/wings.png");
	background-size: 50% 60%;
	padding: 90px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
}

.fine-list-inner-main ul li {}

.about-main-wings h3 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.about-main-wings p {
	text-align: center;
	font-size: 17px;
	color: #000;
	font-weight: bold;
}

.about-main-wings span {
	display: block;
}

.about-main-left {
	text-align: center;
}

.bottom-heaing {
	position: absolute;
	bottom: 11%;
	left: 0;
	right: 0;
}

#services {
	background-color: #e3e4d5;
}

.about-main-wings.list-wings {
	background-size: 70% 60%;
	padding: 90px;
}

.main-left-about {
	width: 94%;
}

.bottom-heaing {
	position: absolute;
	bottom: -1%;
	left: 0;
	right: 0;
	width: 80%;
	margin: auto;
}

.fine-right-main {
	background: url("img/others/fine-right.png");
	background-size: 100% 100%;
	padding: 31px 25px;
}

.fine-right-mains {
	background: url("img/others/temple-bg.jpg");
	background-size: 100% 100%;
	padding: 92px 25px;
}

.fine-list-inner ul li {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 25px;
}

.fine-list-inner ul li span {
	font-weight: 400;
}

.fine-list-inner ul li:nth-child(1) {
	background-image: url("img/others/location-left.png");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 100px;
}

.fine-list-inner ul li:nth-child(2) {
	background-image: url("img/others/location-left1.png");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 100px;
}

.fine-list-inner ul li:nth-child(3) {
	background-image: url("img/others/location-left2.png");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 100px;
}

.fine-list-inner ul li {
	padding: 20px;
}

.fine-list-inner ul li:nth-child(4) {
	background-image: url("img/others/location-left3.png");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 100px;
}

.fine-list-inner span {
	display: block;
}

.fine-list-inner-main {
	margin-bottom: 10px;
	font-family: 'ProximaNovaA-Bold';
	font-size: 20px;
}

.fine-list-inner-main ul li:nth-child(1) {
	background-image: url("img/others/location-left.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 20px;
	padding-left: 100px;
}

.fine-list-inner-main ul li:nth-child(2) {
	background-image: url("img/others/two-location-left1.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 20px;
	padding-left: 100px;
}

.main-left-about.student-full {
	padding-top: 90px;
}

.footer-details {
	border-right: 2px solid #000;
}

.main-footer-detials ul li {
	font-family: 'ProximaNova-Bold';
	font-size: 22px;
	display: inline-block;
	padding-right: 80px;
}

.main-footer-detials ul li span {
	display: block;

}

.footer-section {

	padding: 40px 0px;
}

.footer-details h2 {
	font-family: 'ProximaNova-Bold';
	font-size: 25px;
}

.footer-details p {
	font-size: 16px;
	font-family: 'ProximaNova-Regular';
}

.copyrights a {
	font-size: 16px;
	font-family: 'ProximaNova-Regular';
}

.copyrights p {
	font-size: 16px;
	font-family: 'ProximaNova-Regular';

}

.footer-menu {
	padding: 50px 0px 0px;
}

.main-footer-detials ul li span a {
	font-family: 'ProximaNova-Regular';
	font-size: 18px;
	color: #000;
}

.about-main-wings.student-wing {
	background-image: url("img/others/wings.png");
	background-size: 80% 70%;
	padding: 90px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
}

.fine-list-inner-main ul li:nth-child(3) {
	background-image: url("img/others/two-location-left2.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 20px;
	padding-left: 100px;
}

.fine-list-inner-main span {
	display: block;
}

.fine-list-inner-main ul li {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 25px;
}

.fine-list-inner-main ul li span {
	font-weight: 400;
}


.bottom-heaing h5 {
	font-weight: bold;
	font-size: 18px;
	color: #707343;
}

.about-main-wings h3 {
	font-weight: bold;
	font-size: 30px;
	color: #707343
}

.main-fine-sectnion {
	background-color: #e2e5d4;
}

.campous-left {
	display: flex;
	align-items: center;
	background-color: #e2e5d4;
}

.campus-text {
	padding-top: 25px;
}

.main-inner-section {
	background-color: #e2e5d4;
}

.main-about-text {
	padding: 20px 60px;
}




/*RESPONSIVE*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths,
.col-xl-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-5ths {
	width: 20%;
	float: left;
}

@media (min-width: 576px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 768px) {
	.col-md-5ths {
		width: 20% !important;
		float: left !important;
	}
}

@media (min-width: 992px) {
	.col-lg-5ths {
		width: 20% !important;
		float: left !important;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20.0%;
		flex: 0 0 20.0%;
		max-width: 20.0%;
	}
}

@media (min-width: 1200px) {
	.col-xl-5ths {
		width: 20% !important;
		float: left !important;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20.0%;
		flex: 0 0 20.0%;
		max-width: 20.0%;
	}
}

@media screen and (max-width: 3840px) {}

@media screen and (max-width: 2880px) {}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {
	.fine-list-inner-main ul li {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 17px;
	}

	.about-main-wings.list-wings {
		background-size: 90% 60%;
		padding: 80px;
	}

	.about-main-wings.student-wing {
		background-image: url("img/others/wings.png");
		background-size: 80% 70%;
		padding: 70px;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		position: relative;
	}

	.about-main-wings {
		background-image: url("img/others/wings.png");
		background-size: 70% 70%;
		padding: 50px;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		position: relative;
	}

	.inner-flowe-text {
		padding-top: 50px;
		padding-left: 25px;
	}

	.inner-flowe-text p {
		font-family: 'ProximaNova-Bold';
		font-size: 16px;
	}

	.inner-flowe-text h2 {
		font-size: 30px;
	}

	.fine-list-inner ul li {
		padding: 5px;
		font-size: 20px;
	}

	.banner-shape {
		position: absolute;
		right: 6%;
		top: 20%;
		z-index: 9;
		width: 33%;
		background: rgb(157, 158, 116);
		border-radius: 50px 0px;
		border: 2px solid #fff;
	}

}

@media screen and (max-width: 1366px) {
	.about-main-wings h3 {

		white-space: nowrap;
	}

	.about-main-wings.student-wing {
		background-image: url("img/others/wings.png");
		background-size: 90% 70%;
		padding: 60px;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		position: relative;
	}

	.main-left {
		position: absolute;
		top: 0%;
		left: 5%;
		z-index: 99;
		width: 25%;
	}

	.main-bottom-right {
		width: 25%;
	}

	.main-top {
		position: absolute;
		top: 0%;
		right: 5%;
		z-index: 99;
		width: 25%;
	}

	.main-bottom {
		width: 25%;
	}

	.about-main-wings.list-wings {
		background-size: 90% 60%;
		padding: 70px;
	}

	.bottom-heaing h5 {
		font-weight: bold;
		font-size: 14px;
		color: #707343;
	}

	.banner-shape {
		position: absolute;
		right: 6%;
		top: 7%;
		z-index: 9;
		width: 23%;
		background: rgba(149, 48, 120, 0.7);
	}

	.overview-list ul h3 {
		font-size: 22px;
	}

	.gallery-wrap h2 {
		font-size: 45px;
	}

	.amenities-heading h2 {
		font-size: 45px;
	}

	.overview-wrap h2 {
		font-size: 45px;
	}

	.banner-shape {
		position: absolute;
		right: 6%;
		top: 20%;
		z-index: 9;
		width: 32%;
		background: rgb(157, 158, 116);
	}

	#mainform {
		padding: 20px 22px;
	}

	.location-map iframe {
		height: 372px;
	}

	.advantage-headding h2 {
		font-family: 'Myriad Pro Regular';
		color: #2e2e2e;
		font-weight: 500;
		font-size: 45px;
		text-transform: uppercase;
		margin-bottom: 30px;
		text-align: center;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1280px) {}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1023px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}

	.banner-shape.text-center {
		position: relative;
		width: 100%;
		left: 0;
	}

	.header-phone a {
		color: #252525;
		font-family: 'Myriad Pro Regular';
		font-size: 16px;
		font-weight: 500;
	}

	.header-btn a {
		background-color: #e21e24;
		border-radius: 50px;
		padding: 15px 32px;
		font-family: 'Myriad Pro Semibold';
		color: #fff;
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
	}

	.overview-wrap h2 {
		font-size: 35px;
	}

	.overview-view-txt p {
		font-family: 'Myriad Pro Regular';
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.overview-list ul h3 {
		font-size: 19px;
	}

	.overview-list ul p {
		font-family: 'Myriad Pro Regular';
		font-weight: 400;
		font-size: 15px;
		color: #424242;
		margin-bottom: 0px;
	}

	.overview-btn h4 {
		font-family: 'Myriad Pro Regular';
		font-weight: 500;
		color: #2e2e2e;
		font-size: 18px;
	}

	.overview-btn h3 {
		font-family: 'Myriad Pro Semibold';
		color: #fff;
		font-size: 20px;
		padding-top: 25px;
		text-transform: uppercase;
	}

	.amenities-heading h2 {
		font-size: 35px;
	}

	.amenities-section {
		padding: 40px 0px;
		background-color: #f2e4ed;
	}

	.gallery-wrap h2 {
		font-size: 35px;
	}

	.advantage-headding h2 {
		font-family: 'Myriad Pro Regular';
		color: #2e2e2e;
		font-weight: 500;
		font-size: 35px;
		text-transform: uppercase;
		margin-bottom: 30px;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.over-view-box {
		margin: 5px;
	}

	.header-phone {
		text-align: right;
	}

	.gallery-sction {
		padding: 20px 0px;
	}

	.advantage-btn-list .nav-link {
		background: -moz-element;
		background-color: #e21e24;
		color: #fff;
		margin-bottom: 14px;
		font-family: 'Myriad Pro Regular';
		font-weight: 400;
		font-size: 20px;
		border-radius: 50px;
	}

	.advantage {
		background-color: #f2e4ed;
		padding: 20px 10px;
		border-radius: 10px;
	}

	header .header-logo {
		text-align: center;
	}

	header .header-logo img {
		display: inline-block;
	}

	header .mainmenu .navbar {
		margin: 0;
		padding: 0;
	}

	.icon-bar {
		background-color: #fff;
		border-radius: 1px;
		display: block;
		height: 2px;
		width: 22px;
	}

	.icon-bar+.icon-bar {
		margin-top: 4px;
	}

	button:focus {
		outline: none;
	}

	.navbar-toggler {
		background-color: transparent;
		background-image: none;
		border-radius: 0;
		padding: 9px 10px;
	}

	.navbar-dark .navbar-toggler {
		border: medium none;
	}

	header .header-top .mainmenu ul li {
		margin-bottom: 10px;
	}

	header .header-top .mainmenu ul li .sub-menu li {
		margin-bottom: 0px;
	}

	.mainmenu li:last-child:hover .sub-menu {
		right: auto;
	}

	header .mainmenu {
		float: none;
		padding-top: 0px;
	}

	header .header-bottom {
		position: relative;
		padding-top: 60px;
	}
}

@media screen and (max-width: 480px) {
	.full-bg-marin h2 span{
		font-size: 25px;
	}
	.full-bg-marin h2{
		font-size: 25px;
	}
	.full-bg-marin {
		background-repeat: no-repeat;
		padding: 40px 10px;
		background-image: url("img/others/mantras-img.png");
		background-size: 100% 100%;
	}
	.main-about-list ul li {
		display: inline-block;
		padding-right: 0;
		border-right: 2px solid #000;
		padding-left: 0;
	}
	.main-left-about.student-full {
		padding-top: 50px;
	}

	.about-main-wings.student-wing {
		background-image: url("img/others/wings.png");
		background-size: 70% 80%;
		padding: 70px;

	}

	.about-main-wings.list-wings {
		background-size: 70% 70%;
		padding: 70px;
	}

	.main-about-list ul li {
		border: none;
	}

	.footer-details {
		border: none;
	}

	.inner-flowe-text h2 {
		font-size: 30px;
	}

	.fine-list-inner-main ul li {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 18px;
	}

	.fine-right-mains {
		background-image: none;
		padding: 40px 25px;
	}

	.about-main-wings {
		background-size: 70% 70%;
		padding: 70px;

	}

	.fine-right-main {
		background-image: none;
		background-repeat: no-repeat;
	}

	.overview-section .main-bottom-right h3 {
		text-align: left;
	}

	.overview-section .main-top h3 {
		text-align: left;
	}

	.skndha-main-img img {
		display: none;
	}

	.main-bottom-right {
		margin: 30px 0px;
		position: relative;
		width: 100%;
		right: 0;
	}

	.overview-section {
		padding: 20px 0px;
	}

	.overview-section h3 {
		font-size: 35px;
	}

	.main-left {
		margin: 30px 0px;
		left: 0;
		position: relative;
		width: 100%;
	}

	.main-bottom {
		margin: 30px 0px;
		left: 0;
		position: relative;
		width: 100%;
	}

	.main-top {
		right: 0;
		position: relative;
		width: 100%;
	}

	.inner-flowe-text {
		padding-top: 10px;
		padding-left: 5px;
		text-align: center;
	}

	.location-logo {
		background-color: #f3f1f1;
		padding: 20px;
		text-align: center;
		min-height: 250px;
		padding-top: 40px;
	}

	.location-logo h3 {
		font-family: 'Myriad Pro Bold';
		color: #2e2e2e;
		font-weight: 500;
		font-size: 18px;
		text-transform: uppercase;
		padding: 10px 0px;
		margin: 0px;
	}

	.location-map iframe {
		height: 280px;
	}

	.consulting-details h3 {
		font-family: 'Myriad Pro Bold';
		color: #2e2e2e;
		font-weight: 500;
		font-size: 21px;
		text-transform: uppercase;
		margin-bottom: 30px;
		padding: 0px 4px;
	}

	.price-details-box h3 {
		font-family: 'Myriad Pro Semibold';
		background-color: #e2242a;
		padding: 8px 10px;
		color: #fff;
		font-size: 19px;
		text-transform: uppercase;
	}

	.price-details-box {
		margin: 20px;
	}

	.amenities-section {
		padding: 20px 0px;
		background-color: #f2e4ed;
	}

	.amenitine-center p {
		font-family: 'Myriad Pro Regular';
		margin-top: 10px;
		font-size: 16px;
	}

	.amenitine-center {
		padding: 5px 5px;
	}

	.about-main-icon {
		text-align: center;
	}

	.about-section p {
		/* font-family: 'Myriad Pro Regular'; */
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 20px;
		text-align: center;
	}

	.about-main-text h3 span {
		color: #e21e24;
		font-family: 'Myriad Pro Bold';
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	.about-main-text h3 {
		font-family: 'Myriad Pro Bold';
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 10px;
		text-align: center;
	}

	.header-btn a {
		background-color: #001d0d;
		border-radius: 50px;
		padding: 9px 28px;
		font-family: 'Myriad Pro Semibold';
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
	}

	.header-phone img {
		width: 30px;
	}

	.header-bottom img {
		padding-top: 0px;
	}

	.header-top {
		position: fixed;
		width: 100%;
		z-index: 999;
		background-color: #fff;
	}

	.floor-section {
		padding: 10px 0px;
		background-color: #f2e4ed;
	}

	.specification-inner-txt span {
		font-family: 'Myriad Pro Regular';
		font-weight: 400;
		color: #2e2e2e;
		font-size: 16px;
	}

	.specification-inner-txt p {
		font-family: 'Myriad Pro Regular';
		font-weight: 400;
		color: #2e2e2e;
		font-size: 16px;
	}

	.floor-details-inner {
		padding: 20px 30px;
	}

	.header-top {
		padding: 10px 0px;
	}

	.specification-header h2 {
		font-family: 'Myriad Pro Bold';
		font-weight: 500;
		font-size: 35px;
		margin-bottom: 30px;
	}

	footer {
		margin-bottom: 45px;
	}

	.contactButtom a {
		font-family: 'Myriad Pro Regular';
		font-weight: 500;
		width: auto;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	}

	.formButton a {
		font-family: 'Myriad Pro Regular';
		font-weight: 500;
		width: auto;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	}

	.contactButtom {
		width: 50%;
		float: right;
		padding: 10px 30px;
		text-align: center;
		display: block;
	}

	.formButton {
		width: 50%;
		float: left;
		padding: 10px 30px;
		text-align: center;
		display: block;
		border-right: 1px solid #fff;
	}

	.bottom_button {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 99;
		display: block;
		width: 100%;
		background: #001d0d;
		border-top: 1px solid #fff;
	}

	.copyrights p {
		font-weight: 400;
		font-size: 13px;
		color: #fff;
		margin-bottom: 0px;
	}

	.various1 {
		font-family: 'Myriad Pro Regular';
		font-weight: 400;
		font-size: 13px;
		color: #fff !important;
	}

	.floor-heading h2 {
		font-family: 'Myriad Pro Regular';
		color: #2e2e2e;
		font-weight: 500;
		font-size: 25px;
		text-transform: uppercase;
		margin-bottom: 20px;
		text-align: center;
	}

	.advantage-list-details {
		margin-top: 20px;
	}

	.gallery-wrap h2 {
		font-size: 25px;
	}

	.overview-wrap h2 {
		font-size: 25px;
	}

	.amenities-heading h2 {
		font-size: 25px;
	}

	.floor-tab {
		width: 90%;
		margin: auto;
	}

	.floor-tab ul li {
		width: 35%;
		text-align: center;
		padding: 20px;
	}

	.advantage-headding h2 {
		font-family: 'Myriad Pro Regular';
		color: #2e2e2e;
		font-weight: 500;
		font-size: 25px;
		text-transform: uppercase;
		margin-bottom: 30px;
		text-align: center;
	}

	.gallery-wrap p {
		font-family: 'Myriad Pro Regular';
		color: #2e2e2e;
		font-weight: 400;
		font-size: 16px;
	}

	.overview-list ul li {
		display: inline-block;
		width: 32%;
	}

	.floor-list-txt td {
		font-family: 'Myriad Pro Regular';
		color: #2e2e2e;
		font-weight: 400;
		font-size: 15px;
		border: 0px solid #fff !important;
	}

	.overview-list ul h3 {
		font-size: 14px;
	}

	.overview-list ul li img {
		width: 60%;
		margin: auto;
	}
}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 387px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 320px) {}